{% extends('layout.html.twig') %}

{% block content %}
    <h2>
        Titre : {{ article.title }}
    </h2>
    <p>
        par
        <a href="{{ path('monblog_author_show' , {id : article.author.id}) }}">
            {{ article.author.fullname }}
        </a>

    </p>

    <p>
        Contenu : {{ article.content }}
    </p>


{% endblock content %}