{% extends('layout.html.twig') %}

{% block content %}
    <h2>Crediter mon compte</h2>
    <form method="post">
        <label for="amount">Montant :</label>
        <input id="amount" type="text" name="amount"> €
        <input type="Submit"> Valider
    </form>


{% endblock %}